.pera-ten{
    font-size: 10px;
}

.font-clr{
    color: rgba(16, 200, 67, 1);
}

.btn-ten{
    border-color: #10C843;
   
    background-color: white;
    color:#10C843;
    border: solid 1px;
    
}

.ten-pra{
    font-size: 15px;
}

