.e-pera{
    font-size: 15px;
}

.sec-e-pera{
    font-size: 13px;
}

.sec-eight-color{
    color: #10C843;
}

.card-bg{
    background-color: rgba(16, 200, 67, 0.1);
    border-radius: 5%;
}

.butn{
    border: none;
   
    background-color: #10C843;
    color: white;
    padding-inline: 8%;
}