.spn{
    color: #10C843;
}

.btn1{
    border: none;
   
    background-color: #10C843;
    color: white;
    padding-inline: 5%;
}

.pera-size{
    font-size: 10px;
}

.font-family{
    font-family:  'Inter', sans-serif;;
}
   
